<p>
  We, the developers, push <span>thousands of commits</span> every day to develop
  our beloved side projects and improve the skillset.
</p>
<p>
  From time to time, though, the <span>Procrastination Daemon</span> kicks in
  and stops us from completing the work.
</p>
<p>
  At such times we ourselves need <span>a little push</span> to resist the
  procrastination button, no matter how tempting it is!
</p>
<div class="dialog-actions">
  <button mat-raised-button (click)="onClick()">Continue</button>
</div>
