@import "../../../css/variables.scss";
@import "../../../css/dialog.scss";

span {
  color: $primaryColor;
}

p {
  font-weight: 500;

  line-height: normal;

  @media (min-width: $maxMobileWidth) {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
}
