<h1>Attributions</h1>
<div id="attribution-container">
  <ng-container
    *ngFor="
      let sectionName of attributionSectionNames;
      let i = index;
      trackBy: identifySection
    "
  >
    <h2>{{ sectionName }}</h2>
    <ng-container
      *ngFor="
        let attribution of attributionGroups[i];
        trackBy: identifyAttribution
      "
    >
      <app-attribution-view [data]="attribution"></app-attribution-view>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</div>
<div class="app-dialog-actions">
  <button mat-raised-button (click)="onClick()">Close</button>
</div>
