@import "../../../css/variables.scss";
@import "../../../css/dialog.scss";

:host {
  display: block;
  height: 100%;
  position: relative;
}

$attributionContainerHeightMobile: calc(100% - #{$appDialogActionsHeight});

#attribution-container {
  height: $attributionContainerHeightMobile;
  overflow-y: scroll;
}

mat-divider {
  margin: 1rem 0;
  margin-right: $scrollbarPadding;
}
