@import "../../../css/variables.scss";
@import "../../../css/dialog.scss";

$attributionContainerHeightMobile: calc(
  100% - #{$appDialogActionsHeight} - 2 * #{$cardMarginMobile}
);

#attribution-container {
  height: $attributionContainerHeightMobile;
  overflow-y: scroll;
}

mat-divider {
  margin: 1rem 0;
}
