<mat-card class="action-card mat-elevation-z8">
  <mat-card-content>
    <img
      mat-card-image
      src="https://octodex.github.com/images/hula_loop_octodex03.gif"
      alt="Photo of a procrastinating Octocat"
    />
  </mat-card-content>
  <mat-card-actions>
    <button class="action-button" mat-button>Procrastinate!</button>
  </mat-card-actions>
</mat-card>

<mat-card class="action-card mat-elevation-z8">
  <mat-card-content>
    <img
      mat-card-image
      src="https://octodex.github.com/images/original.png"
      alt="Photo of an Octocat"
    />
  </mat-card-content>
  <mat-card-actions>
    <button class="action-button" mat-button>Head to Github!</button>
  </mat-card-actions>
</mat-card>
