@import "../../../styles.scss";
@import "../../../css/variables.scss";

:host {
  @extend .app-flex-start;

  padding: 0 1rem;
}

#logo {
  color: $primaryColor;
  font-family: "Lato";
  font-weight: 600;
  font-size: 1.15em;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  user-select: none;

  @media (min-width: $maxMobileWidth) {
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
  }
}
