@import "../../../styles.scss";
@import "../../../css/variables.scss";

:host {
  @extend .app-flex-start;

  padding: 0 1rem;
}

#logo {
  color: $primaryColor;
  font-family: "Lato";
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
