@import "../../../styles.scss";
@import "../../../css/variables.scss";

:host {
  padding: 1rem;

  @extend .app-flex;

  height: 100%;
  width: 100%;

  &::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $primaryColor;
  }
}
