@import "../../../css/variables.scss";

:host {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  &::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $primaryColor;
  }
}
