@import "../../../css/variables.scss";

.action-card {
  width: 60vw;
  height: auto;

  padding: 1rem;

  @media (min-width: $maxMobileWidth) {
    width: 25rem;
    height: 28rem;
  }

  .mat-card-content {
    margin-top: 1rem;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  img {
    width: 8rem;

    margin: 0;

    object-fit: cover;

    @media (min-width: $maxMobileWidth) {
      width: 20rem;
    }
  }
}

.action-button {
  padding: 0.5rem;
  font-size: 1.25rem;

  font-weight: bold;

  @media (min-width: $maxMobileWidth) {
    padding: 1rem;
    font-size: 2rem;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}
