@import "../../../styles.scss";
@import "../../../css/variables.scss";

.action-card {
  width: 14rem;
  height: auto;

  @media (min-width: $maxMobileWidth) {
    width: 25rem;
    height: 28rem;
  }

  .mat-card-content {
    margin-bottom: 0;

    @extend .app-flex-column;
  }

  img {
    width: 8rem;

    margin: 0;

    object-fit: cover;

    @media (min-width: $maxMobileWidth) {
      width: 20rem;
    }
  }
}

.action-button {
  padding: 0.5rem;
  font-size: 1.25rem;

  font-weight: bold;

  @media (min-width: $maxMobileWidth) {
    padding: 1rem;
    font-size: 2rem;
  }
}

.mat-card-actions {
  @extend .app-flex;
}
