@import "../../../styles.scss";
@import "../../../css/variables.scss";

.action-card {
  width: 14rem;

  padding: 0;

  @media (min-width: $maxMobileWidth) {
    width: 25rem;
  }

  .mat-button-wrapper {
    @extend .app-flex-column;
  }

  img {
    width: 8rem;

    margin: 0;

    object-fit: cover;

    @media (min-width: $maxMobileWidth) {
      width: 20rem;
    }
  }
}

.action-button {
  width: 100%;

  padding: 1rem;

  font-size: 1.25rem;

  font-weight: bold;

  @media (min-width: $maxMobileWidth) {
    padding: 1rem;
    font-size: 2rem;
  }
}
